<div (click)="showDetails(project)" (mouseenter)="hover=i" (mouseleave)="hover=-1" [ngClass]="{'lightgrey': hover==i}"
     class="list"
     *ngFor="let project of projects;index as i;last as lastListItem">
  <div class="header">
    <div class="date">
      <div>{{project.from}} - {{project.to}}</div>
    </div>
    <div class="headerTitle">{{project.title}}</div>
    <div class="customer">{{project.customer}}</div>
  </div>
  <br>
  <div style="white-space: pre-wrap">{{project.description}}</div>
  <br>
  <div class="title">Eigene Funktion</div>
  <div>{{project.role}}</div>
  <br>
  <div class="ItemList">
    <div class="title">Eigene Aufgaben im Projekt</div>
    <span *ngFor="let task of project.tasks; last as l">
      {{task}} <span *ngIf="!l">,</span>
    </span>
  </div>
  <br>
  <div class="ItemList">
    <div class="title">Eigesetzte Technologien</div>
    <span *ngFor="let technology of project.technologies; last as l">
      {{technology}} <span *ngIf="!l">,</span>
    </span>
  </div>
  <span *ngIf="!lastListItem"><hr></span>
</div>
