<div (click)="showDetails(project)" (mouseenter)="hover=i" (mouseleave)="hover=-1" [ngClass]="{'lightgrey': hover==i}"
     class="list"
     *ngFor="let project of projects;index as i;last as lastListItem">
  <div class="header">
    <div class="date">
      <div>{{project.from}} - {{project.to}}</div>
    </div>
    <div class="headerTitle">{{project.title}}</div>
    <div class="customer">{{project.customer}}</div>
  </div>
  <br>
  <div style="white-space: pre-wrap">{{project.description}}</div>
  <br>

  <span *ngIf="!lastListItem"><hr></span>
</div>
