@media only screen and (max-width: 600px) {
  .mat-button {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 601px) {
  .mat-button {
    font-size: 1.8em;
  }
}

a {
  text-decoration: none;

}

.menu--margin-right-10 a {
  margin-right: 10px;
}

.menu--active {
  color: #e05233;
  text-decoration: none;
}


