
<nav class="mt-2 flex justify-end visible md:invisible hover:cursor-pointer">
  <svg id="mobileMenu" (click)="toggleMobileMenu()"
       xmlns="http://www.w3.org/2000/svg"
       class="w-8 h-8 "
       fill="none"
       viewBox="0 0 24 24"
       stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"
    />
  </svg>
</nav>

<nav [ngClass]="{'hidden md:visible md:uppercase mt-2 md:grid md:grid-cols-2 md:font-bold hover:cursor-pointer':!isMobileMenuOpen,
                              'visible grid grid-cols-1':isMobileMenuOpen }">
  <div class="space-x-16">
    <a id="home" (click)="setActive($event)" [ngClass]="{'text-red-700': activeId==='home'}" routerLink="/">Home</a>

    <a id="projects" (click)="setActive($event)" [ngClass]="{'text-red-700': activeId==='projects'}"
       routerLink="/projects">Projekte</a>

    <a id="blog" (click)="setActive($event)" [ngClass]="{'text-red-700': activeId==='blog'}" routerLink="/blog">Blog</a>
  </div>
  <div class="space-x-16 flex justify-end">
  <a class="ml-48 text-center bg-red-200">Verfügbar ab 01.02.2022</a>
  <a class="text-center" href="/assets/files/Ender_Ayalp-CV.pdf" download="Ender_Ayalp-CV.pdf">Download CV PDF</a>
    <a class="text-center" href="/assets/files/Ender_Ayalp-CV.docx" download="Ender_Ayalp-CV.docx">Download CV WORD</a>
  </div>
</nav>


