<div class="flex flex-col-reverse gap-6 md:flex-row md:grid-cols-2 md:mt-48  ">
  <div>
    <div class=" mt-6 text-2xl font-bold md:mt-32">
      <p>Hi, ich bin Ender!</p>
    </div>
    <div class="text-lg font-medium">
      <p class="font-bold">Freiberuflicher Senior Softwareentwickler aus Leidenschaft</p>

      <p class="mt-4">Ich bin zertifizierter <span class="font-bold">OCP Oracle Certified Professional</span> Java Entwickler.</p>
      <p>Meine stärken liegen in der Entwicklung in Spring Boot und Rest!</p>
      <p>Angular, JSF, HTML und CSS befinden sich natürlich in meinem Portfolio.</p>
      <p class="mt-2">Die Webseite auf der Du Dich gerade befindest habe ich mit Angular erstellt,</p>
      <p>Wenn du Lust hast schaue Dir den Sourcecode bei mir auf GitHub an!</p>
      <a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://github.com/enderayalp/fe-ayalpde">https://github.com/enderayalp</a>

    </div>
  </div>
  <img src="assets/images/ender.png" class="object-cover rounded-lg w-80 h-fit content-center" alt="profilbild ender ayalp">
</div>

